@import './color.scss';

.appear {
  animation-name: appear;
  animation-duration: 1s;
  animation-iteration-count: initial;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loader {
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;

  margin-bottom: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.positive {
  border: solid 3px rgb(26, 173, 6);
}

.negative {
  border: solid 3px rgb(238, 12, 12);
}

.neutro {
  border: solid 3px rgb(238, 223, 12);
}

.Countries {
  max-width: 1550px;
  width: 97vw;
  height: calc( 100vh - 16px );

  &__loading{
      width: 100vw;
      height: calc( 100vh - 16px );

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        
  }
}

.Morning, .Noon, .AfterNoon, .Night {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;

  &__background{
      width: 100%;
      height: 100%;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
  }
}

.Datacard__message {
  display: none;
}

@media only screen and (max-width: 900px) {
  .Morning__background, .Noon__background, .AfterNoon__background, .Night__background {
    display: none;
  }

  .CountryCard {
    .Datacard{
      top: auto;
      right: auto;
    }
  }

  .Datacard__message {
    display: flex;
    color: var(--white);
    text-align: center;
    font-weight: normal;
    line-height: 1.2;
  }

  
}

.CountryCard {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  
  width: 100%;
  height: 100%;

}

.huella{
  color: var(--white) !important;
  background: rgb(33, 165, 0) !important;
}